body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    text-align: center;
}

#addForm {
    text-align: center;
    margin-bottom: 20px;
}

#todoList {
    list-style-type: none;
    padding: 0;
    width: 50%;
    margin: 0 auto;
}

.todo-item {
    background-color: #d3ffd3;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 50px;
    cursor: move;
    width: 100%;
}

.complete-checkbox {
    margin-right: 10px;
}

.delete-button {
    background-color: #ff4c4c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

    .delete-button:hover {
        background-color: #ff0000;
    }

.todo-item.updated {
    animation: highlight 1s ease-in-out;
}

@keyframes highlight {
    0% {
        background-color: #dff0d8;
    }

    100% {
        background-color: #e0f7fa;
    }
}
